@import '../../Index.scss';

.main_partners {
  width: 100%;
  height: 100%;
  margin-top: 10rem;

  @include media('mobile') {
    margin-top: 6rem;
  }

  .img_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;

      @include media('mobile') {
        width: 114px;
        height: 114px;
      }
    }
  }

  .partners {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

    @include media('mobile') {
      flex-direction: column;
      padding-top: 1rem;
    }

    .social_icons,
    .partners_icons {
      display: flex;
      align-items: center;

      @include media('mobile') {
        justify-content: flex-end;
        /* Move icons to the right */
        padding: 1rem;
      }

      .partners_icons {
        padding-right: 2.5rem;
        /* Add some space to the right on larger screens */

        @include media('mobile') {
          padding: 2px;
          /* Reset padding on mobile */
        }
      }
    }


    img {
      margin: 0 0.5rem;

      @include media('mobile') {
        width: 38px;
        height: 38px;
      }
    }
  }

  .partners_icons {
    padding-right: 1.5rem;

    @include media('mobile') {
      padding: 0;
    }
  }


  img {
    @include media('mobile') {
      width: 158px;
      height: 52px;
    }
  }
}

.head {
  @include media('mobile') {
    padding-bottom: 0.5rem;
  }
}

.mintButton {
  background: #fff;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Lemons-Bold;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.175em;
  line-height: 1.09em;
  overflow: hidden;
  padding: 25px 70px;
  position: relative;
  text-align: center;
  transition: all 0.4s ease-in-out;
  vertical-align: middle;
  border: none;

  span {
    position: relative;
    z-index: 99;
  }

  &::after {
    border-bottom-left-radius: 100px;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    width: 130px;
    background: linear-gradient(90deg, #e2772f -29.23%, #a55824 93.85%);
  }

  &:hover {
    color: #ffffff;

    &::after {
      background: linear-gradient(90deg, #e2772f -29.23%, #a55824 93.85%);
      transition: all 0.3s ease-in-out;
      width: 40rem;
    }
  }
}